@import url('https://fonts.googleapis.com/css?family=Ubuntu:400,700&display=swap');
html,
body {
    font-family: 'Ubuntu', sans-serif;
    height: 100%;
}

.bg-black {
    background: black;
}

.notification-bar {
    color: white;
    font-weight: bold;
    padding: .2em;
    font-size: 15px;
    text-align: center;
}

ul.none {
    list-style: none;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.flex {
    display: flex;
}

.flex-left {
    justify-content: flex-start;
}

.flex-right {
    justify-content: flex-end;
}

.flex > li {
    margin: auto 25px auto auto;
}

.flex-space-between {
    justify-content: space-between;
}

.btn-oval {
    padding: .1em 1.3em;
    border: 2px solid white;
    border-radius: 24px;
}

.btn-orange {
    background-color: #f69629;
}

.btn-shadow {
    box-shadow: 0 2px 1px #0000005e;
}

.margin-top {
    margin-top: 20px;
}

.margin-right-big {
    margin-right: 100px;
}

.navigation > li {
    font-weight: bold;
    font-size: 25px;
}

.navigation > li + li + li:before {
    padding: 0 5px;
    color: #ccc;
    content: "/\00a0";
}

.breadcrumb {
    margin-bottom: 0;
    padding: 2em;
    background: transparent;
}
.breadcrumb > li:before:nth-of-type(1n + 2) {
    color: #f69629;
    content: "/\00a0";
}

.bg-white {
    background: white;
}

.shadow-inset {
    border-radius: 0;
    box-shadow: inset 2px 2px #00000036;
}

.bg-gray {
    background: #eeefef;
    padding: 1.5em;
}

.font-large {
    font-size: 18px;
}

.bordered {
    padding: 3em 3em 2em 3em;
    border: 1px solid;
}

.footer {
    position: relative;
    width: 100%;
    height: 60px;
    margin: auto;
    padding: 2em 0 1em 0;
    background: #eeefef;
}

li.nav-item > a {
    position: relative;
    display: block;
    padding: 10px 15px;
    border-radius: 4px;
    font-size: 18px;
}
